/* Font for sidebar */
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Cinzel:wght@400..900&family=Courgette&family=Dancing+Script:wght@400..700&family=Jura:wght@300..700&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&family=Playwrite+VN:wght@100..400&family=Poiret+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Silkscreen:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Top Level */
body {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr);
}

/* Sidebar */

#sidebar {
    grid-column: 1 / 2;

    height: 100vh;
    background-color: #fbfcfc;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 5px 10px;
}

#sidebar > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    font-family: "Bruno Ace", serif;
    font-weight: 400;
    font-style: normal;
    color: lightcoral;
}

.profile,
.sidebar-control {
    display: flex;
    align-items: center;
    column-gap: 15px;
}


.profile svg:nth-of-type(1) {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.profile svg:nth-of-type(2) {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.sidebar-control svg {
    height: 15px;
    width: 15px;
    cursor: pointer;
}


#sidebar > div:nth-of-type(2) {
    padding: 5px 10px;
}

#add-task {
    width: 100%;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 0;
    cursor: pointer;

    font-family: "Jura", serif;
    font-weight: bold;
}

#sidebar > div:nth-of-type(2) > button span {
    color: white;
    margin: 0 5px;
}

.general-list {
    list-style-type: none;
    font-family: "Montserrat", serif;
}

.general-list > li,
.general-list > li > div {
    display: flex;
    align-items: center;
}

.general-list > li {
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 10px;
}

.general-list > li:hover {
    background-color: rgba(240, 128, 128, 0.267);
    cursor: pointer;
    border-radius: 5px;
}

.general-list > li > div {
    column-gap: 10px;
}

.general-list svg {
    height: 20px;
    width: 20px;
}

.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

    font-family: "Montserrat", serif;
    font-weight: bold;
}

#add-category {
    background-color: lightseagreen;
    border: none;
    color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    font-family: "Montserrat", serif;
    font-weight: bold;
    cursor: pointer;
}

.category-list {
    list-style-type: none;
    font-family: "Montserrat", serif;
}

.category-list > li > div,
.category-list > li {
    display: flex;
}

.category-list > li {
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 10px;
}

.category-list > li:hover {
    background-color: rgba(240, 128, 128, 0.267);
    cursor: pointer;
    border-radius: 5px;
}

.category-list > li > div {
    column-gap: 10px;
}


#tasks {
    grid-column: 2 / 5;
}